[submodule "cerbero"]
	path = cerbero
	url = https://github.com/GStreamer/cerbero.git
[submodule "gst-python"]
	path = gst-python
	url = https://github.com/GStreamer/gst-python.git
[submodule "pygobject"]
	path = pygobject
	url = https://github.com/GNOME/pygobject.git
